.gradle
/build/
out/
!/build/.gitkeep
!gradle/wrapper/gradle-wrapper.jar
!/.github
!/.gitmodules

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### act ###
.secrets

### Project Files ###
/docs
/vendor
/translated
*.po~
*.mo
