name: build

on:
  push:
    branches:
      - 'main'
  schedule:
    # everyday at 3AM
    - cron: '0 3 * * *'
  workflow_dispatch:
    branches:
      - 'main'
  workflow_run:
    workflows:
      - 'sync-upstream'
    branches:
      - 'main'
    types:
      - completed

jobs:
  update:
    name: Update files
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # all history (required for getting last modified time of files)
      - name: Setup build env
        run: |
          bin/setup-build-env
      - name: Configure git
        run: |
          bin/configure-git

      - name: Update tmx
        run: bin/update-tmx
      - name: Push changes
        run: bin/push-changes "Update tmx"

      - name: Update translation stats
        run: bin/update-translation-stats
      - name: Push changes
        run: bin/push-changes "Update translation stats"

      - name: Update override stats
        run: |
          bin/update-override-stats
      - name: Create issue if override files updated
        run: |
          .github/steps/create-issue-if-override-files-updated
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push changes
        run: bin/push-changes "Update override stats"

  deploy-ja:
    name: Deploy JA to GitHub pages
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup build env
        run: |
          bin/setup-build-env
      - name: Configure git
        run: |
          bin/configure-git

      - name: Exec po4a-translate
        run: bin/exec-po4a-translate

      - name: Apply override files
        run: bin/exec-override

      - name: Exec antora
        run: bin/exec-antora

      - name: Deploy to GitHub Pages
        run: |
          #echo "ja.camel.apache.org" > docs/CNAME
          git add -f docs

          set +e
          git diff --cached --exit-code --quiet

          if [[ $? -eq 1 ]] ; then
            set -e
            git checkout -b docs
            git commit -m "Update GitHub Pages"
            git fetch
            git push -f origin docs
          fi
          set -e
