name: pull-request

on: pull_request_target

jobs:
  deploy-ja-pullreq:
    name: Deploy JA to surge.sh
    runs-on: ubuntu-20.04
    steps:
      # To avoid GitHub Secrets compromise, checkouts merged commit to 'merged' dir and copy its l10n dir to base branch code base
      - name: Checkout base branch
        uses: actions/checkout@v2
      - name: Checkout merged commit to 'merged' dir
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: merged
      - name: Copy l10n dir
        run: |
          rm -rf l10n
          cp -r merged/l10n ./
      - name: Setup build env
        run: |
          bin/setup-build-env
      - name: Configure git
        run: |
          bin/configure-git

      - name: Exec po4a-translate
        run: bin/exec-po4a-translate
      - name: Apply override files
        run: bin/exec-override
      - name: Exec antora
        run: bin/exec-antora
      - name: Deploy to surge
        run: |
          # Trim ignored files manually in case the version of surge might not be aware of .surgeignore
          rm -rf docs/components/2.x
          rm -rf docs/components/3.4.x
          rm -rf docs/components/3.7.x
          rm -rf docs/components/3.9.x
          rm -rf docs/camel-kafka-connector
          rm -rf docs/schema
          surge docs pr-preview-"${{ github.event.pull_request.number }}"-camel-ja.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
      - name: Add comment
        uses: actions/github-script@v3.1.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            let body = `Site preview(ja): https://pr-preview-${{ github.event.pull_request.number }}-camel-ja.surge.sh`
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            })
