name: test-deploy

on:
  workflow_dispatch:
    branches:
      - 'main'
  workflow_run:
    workflows:
      - 'build'
    branches:
      - 'main'
    types:
      - completed

jobs:
  deploy-ja-to-surge:
    name: Deploy JA to surge.sh
    if: ${{ github.repository_owner == 'jcug-oss' && github.event.workflow_run.conclusion != 'failure' }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v2
      - name: Setup build env
        run: |
          bin/setup-build-env
      - name: Configure git
        run: |
          bin/configure-git

      - name: Exec po4a-translate
        run: bin/exec-po4a-translate
      - name: Apply override files
        run: bin/exec-override
      - name: Exec antora
        run: bin/exec-antora

      - name: Show docs size
        run: du -d 1 docs/
      - name: Deploy to surge
        run: |
          # Trim ignored files manually in case the version of surge might not be aware of .surgeignore
          rm -rf docs/components/2.x
          rm -rf docs/components/3.4.x
          rm -rf docs/components/3.7.x
          rm -rf docs/components/3.9.x
          rm -rf docs/components/3.10.x
          rm -rf docs/camel-kafka-connector
          rm -rf docs/schema
          surge docs camel-ja.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
      - name: Archive published docs
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: docs
          path: docs/
